PORT=4000
NODE_ENV=development

# Database Configuration
MONGO_URI= 

# JWT Secrets (Replace these with secure random strings in production)
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
JWT_SECRET = 

# Google OAuth Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Redis Configuration (For future use)
REDIS_URL=

FRONTEND_URL=

PISTON_URL=
EXECUTION_CPU_TIME=2
EXECUTION_MEMORY=268435456
EXECUTION_TIMEOUT=3000
# Admin Credentials
ADMIN_EMAIL=
ADMIN_PASSWORD=
GEMINI_API_KEY = 